package user

import "github.com/dfalgout/dream/view/layout"

templ OnboardingPage() {
  @layout.Base("Onboarding") {
    <div class="container">
       <div class="row">
         <div class="col-md-12">
           <h1>Onboarding</h1>
         </div>
       </div>
    </div>
  }
}